extends layout

block content
	head
	link(rel='stylesheet', href='/stylesheets/style.css')
	h1= title
	p Welcome to #{title}
	each product, i in tv
		<a href = "TV1?a=#{i+1}">#{product.Description} </a>
		</br>
		<a href = "TV1?a=#{i+1}" ><img src =#{product.Image} height=200 width=200></img></a>
		
		<p>#{product.Brand}</p>
		<p>#{product.Quality}</p>
		<p>#{product.length}</p>
		<p>#{product.width}</p>
		