extends layout

block content
	h1= title
	p Welcome to #{title}
		<p>#{num}</p>
		<p>#{tv[0].Description}</p> 
		</br>
		<img src =#{tv[0].Image} height=200 width=200></img>		
		<p>#{tv[0].Brand}</p>
		<p>#{tv[0].Quality}</p>
		<p>#{tv[0].Length}</p>
		<p>#{tv[0].Width}</p>
		
