extends layout

block content
	h1= title
	p Welcome to #{title}
		<p>#{num}</p>
		<p>#{tv[1].Description}</p> 
		</br>
		<img src =#{tv[1].Image} height=200 width=200></img>		
		<p>#{tv[1].Brand}</p>
		<p>#{tv[1].Quality}</p>
		<p>#{tv[1].Length}</p>
		<p>#{tv[1].Width}</p>