extends layout

block content
	head
	link(rel='stylesheet', href='/stylesheets/style.css')
	h1= title
	p Welcome to #{title}
	each product, i in tv
		<a href = "TV1?a=#{i+1}">#{product.description} </a>
		</br>
		<a href = "TV1?a=#{i+1}" ><img src =#{product.imagepath} height=200 width=200></img></a>
		
		<p>#{product.brand}</p>
		<p>#{product.isHD}</p>
		#{product.lenght}
		#{product.width}
		