extends layout

block content
	h1= title
	p Welcome to #{title}
		<p>#{num}</p>
		<p>#{tv[1].description}</p> 
		</br>
		<img src =#{tv[1].imagepath} height=200 width=200></img>		
		<p>#{tv[1].Brand}</p>
		<p>#{tv[1].isHD}</p>
		<p>#{tv[1].length}</p>
		<p>#{tv[1].width}</p>
		