extends layout

block content
	head
	link(rel='stylesheet', href='/stylesheets/styles.css')
	h1= title

	<ul class="vertical_menu">
	<li><a href="car"> Car </a></li>
	<li><a href="TV"> TV </a></li>
	<li><a href="wirelessrouter"> Wireless Routers </a></li></ul>
	
	<div id="main_content">
	each product, i in car
		<a href = "car1?a=#{i+1}">#{product.Maker} </a>
		</br>
		<a href = "car1?a=#{i+1}" ><img src =#{product.Image} height=200 width=200></img></a>
		</br></br>
	</div>