extends layout

block content
	head
	
	h1= title
	link(rel='stylesheet', href='/stylesheets/styles.css')
	
	<ul class="vertical_menu">
	<li><a href="car"> Car </a></li>
	<li><a href="TV"> TV </a></li>
	<li><a href="wirelessrouter"> Wireless Routers </a></li></ul>

	<div id="main_content">
	each product, i in tv
		<a href = "TV1?a=#{i+1}">#{product.Brand} </a>
		</br>
		<a href = "TV1?a=#{i+1}" ><img src =#{product.Image} height=200 width=200></img></a>
		</br></br>
	</div>