extends layout

block content
	head
	link(rel='stylesheet', href='/stylesheets/styles.css')

	h1= title

	<ul class="vertical_menu">
	<li><a href="car"> Car </a></li>
	<li><a href="TV"> TV </a></li>
	<li><a href="wirelessrouter"> Wireless Routers </a></li>
	<li><a href="http://localhost:8080/order_mgmt/?prodid=#{tv[0]._id}"> Buy Now </a></li>
	</ul>

	div(id="main_content")
		<p>Description:  #{tv[0].Description}</p> 
		<p>Brand:  #{tv[0].Brand}</p>
		<p>Quality:  #{tv[0].Quality}</p>
		<p>Length:  #{tv[0].Length}</p>
		<p>Width:  #{tv[0].Width}</p>
		<p>Height:  #{tv[0].Height}</p>
		<p>Price:  #{tv[0].Price}</p>
		<p>Diagonal Length:  #{tv[0].Diagonalength}</p>
		<p>Warranty:  #{tv[0].Warranty}</p>